 
  body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: rgb(209, 214, 215);
  text-align: center;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5bddd4;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  background:#81c7c2;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(195, 188, 190);
}

.completed {
  text-decoration: line-through;
  text-align: center;
  
}

